<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

  <system.webServer>
      <!--Allow loading of JSON files in Visual Studio Express 2013 for Web
      https://stackoverflow.com/questions/19516829/allow-loading-of-json-files-in-visual-studio-express-2013-for-web-->
    
    <staticContent>
      <!--<mimeMap fileExtension=".json" mimeType="application/json" />-->
    </staticContent>
  </system.webServer>

</configuration>
